#student-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: auto;
}
#student-table th,
#student-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  white-space: normal;
}
#student-table th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#student-table td:nth-child(27) {
  white-space: nowrap;
}
#student-table th:nth-child(16),
#student-table td:nth-child(16),
#student-table th:nth-child(18),
#student-table td:nth-child(18),
#student-table th:nth-child(19),
#student-table td:nth-child(19),
#student-table th:nth-child(21),
#student-table td:nth-child(21),
#student-table th:nth-child(24),
#student-table td:nth-child(24),
#student-table th:nth-child(25),
#student-table td:nth-child(25) {
  text-align: center;
}
#student-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #f4f4f4;
}
#student-table td:nth-child(2) {
  position: sticky;
  left: 37px;
  z-index: 2;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}
#student-table th:first-child,
#student-table td:first-child {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

.container {
  overflow: auto;
  max-height: 98vh;
  position: relative;
  border: 1px solid #ccc;
}
.container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.container table th,
.container table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

thead th {
  top: 0;
  background-color: #f9f9f9;
  z-index: 4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  height: 60px;
}
thead tr:first-child th {
  top: 0;
}
thead tr:nth-child(2) th {
  top: 76px;
  border: 1px solid #ccc;
}
thead th,
thead td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.settings-icon {
  display: flex;
  gap: 100px;
  font-size: 16px;
  align-items: center;
  margin-bottom: 10px;
}
.settings-icon .fa,
.settings-icon .far {
  cursor: pointer;
}
.settings-icon .icon-text {
  font-weight: normal;
}

.menu-container {
  position: relative;
  padding-left: 50px;
}
.menu-container .actions {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
}
.menu-container .actions input,
.menu-container .actions button {
  margin: 5px 0;
}
.menu-container.active .actions {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #f9f9f9;
  margin: 2% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 750px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
}
.modal-details-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.modal-details-item {
  background: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.modal-details-item h3 {
  margin: 0 0 10px;
  font-size: 1.1rem;
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.modal-details-item p {
  margin: 5px 0;
  line-height: 1.4;
  color: #555;
}

#student-table tbody td:nth-child(2) {
  cursor: help;
}

.country-flag {
  width: 35px;
  height: auto;
  margin-left: 10px;
}

.editing {
  background-color: #eee8e8;
  border: none;
  border-radius: 5px;
  padding: 1px 20px;
}

.editable-field {
  margin-right: 8px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
  font-size: 16px;
}
.search-container label {
  cursor: pointer;
}

.search-input-wrapper {
  position: relative;
  display: none;
}

.search-input-wrapper .fa-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

#student-search {
  padding-left: 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#scan-controls-1,
#scan-controls-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

#scan-controls-1 button,
#scan-controls-2 button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#scan-controls-1 button:hover,
#scan-controls-2 button:hover {
  background-color: #e0e0e0;
}
#scan-controls-1 button i,
#scan-controls-2 button i {
  font-size: 12px;
}

#scan-controls-1 span,
#scan-controls-2 span {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
}

h1 {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 10px;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.settings-icon {
  position: sticky;
  top: 50px;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  position: fixed;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  display: none;
  flex-direction: column;
}