// table {
//   width: 100%;
//   border-collapse: collapse;
// }

// th,
// td {
//   padding: 8px;
//   border: 1px solid #ddd;
//   text-align: left;
// }

// th {
//   background-color: #f2f2f2;
// }

#student-table {
  width: 100%; /* Таблица занимает всю доступную ширину */
  table-layout: auto; /* Автоматическое вычисление ширины столбцов */
  border-collapse: collapse;
}

#student-table th,
#student-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  max-height: 3em;
  // white-space: wrap; /* Отключение переноса текста */
  white-space: normal;
}

#student-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

#student-table td:nth-child(27) {
  white-space: nowrap;
  // border: 5px solid #3d2424;
}
